@font-face {
    font-family: "Consolas";
    src: url("public/font/Consolas.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 20px 10px;

    font-family: "Consolas", monospace;

    /* Format mobile même sur ordinateur */
    width: 100%;
    max-width: 480px;
    min-height: 100vh;

    margin-left: auto;
    margin-right: auto;

    overflow-x: hidden;
}

main {
    width: 100%;
}

h1 {
    margin: 0 0 15px 0;

    font-size: 22px;
    font-weight: normal;
}

.intro {
    margin: 0 0 25px 0;

    font-size: 12px;
    line-height: 1.5;
}

#stats {
    white-space: pre-line;

    font-size: 12px;
    line-height: 1.7;

    margin-bottom: 25px;
}


/* --------------------------------------------------
   TABLEAU
-------------------------------------------------- */

#tableau-joueuses {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;

    border-collapse: collapse;

    font-size: 9px;

    table-layout: fixed;
}

th,
td {
    padding: 5px 3px;
    white-space: nowrap;
}

/* Nom de la joueuse à gauche */
th:first-child,
td:first-child {
    text-align: left;
}

/* Toutes les colonnes numériques à droite */
th:not(:first-child),
td:not(:first-child) {
    text-align: right;
}

/* Première colonne */
th:first-child,
td:first-child {
    text-align: left;
}

/* Titres des colonnes */
th {
    font-weight: normal;

    color: #555;
}

/* Lignes */
tbody tr {
    border-top: 1px solid #ddd;
}