@font-face {
    font-family: "Consolas";
    src: url("public/font/CONSOLA.TTF") format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 20px 10px;

    font-family: "Consolas", monospace;

    /* Format mobile même sur ordinateur */
    width: 100%;
    max-width: 480px;
    min-height: 100vh;

    margin-left: auto;
    margin-right: auto;

    overflow-x: hidden;
}

h1 {
    margin: 0 0 20px 0;

    font-size: 22px;
    color: #9d9d9c;
    font-weight: normal;
}

h2 {
    margin: 20px 0 5px 0;

    font-size: 12px;
    color: #9d9d9c;
    font-weight: normal;
    text-align: right;
}

.intro {
    margin: 0 0 25px 0;

    font-size: 10px;
    line-height: 1.5;
}

#stats {
    white-space: pre-line;
    font-size: 10px;
    line-height: 1.7;
    margin-bottom: 25px;
}


/* --------------------------------------------------
   TABLEAU
-------------------------------------------------- */

#tableau-joueuses {
    overflow-x: auto;
}

#tableau-scores {
    height: 225px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    table-layout: fixed;
}

th,
td {
    padding: 5px 3px;
    white-space: nowrap;
}

/* Nom de la joueuse à gauche */
td:first-child {
    text-align: left;
}

/* Toutes les colonnes numériques à droite */
td:not(:first-child) {
    text-align: right;
}

/* Première colonne */
td:first-child {
    text-align: left;
}

/* Titres des colonnes */
th {
    font-weight: normal;
    color: #9d9d9c;
}

/* Lignes */
tbody tr {
    border-top: 1px solid #ddd;
}

.trend-new {
    color: #58b999;
}

